<h2>Order</h2>

<h3>Review your cart</h3>
<div class="cart" ng-include="'/views/_cart.html'" ng-controller="shoppingCartController"></div>

<h3>Fill in your details</h3>
<form ng-submit="placeOrder()" name="orderForm" novalidate>
	<input type="text" name="name" ng-model="order.customer.name" placeholder="Name" required />
	<span class="validationError" ng-messages="orderForm.name.$error"><ng-messages-include src="errorMessages"></ng-messages-include></span>

	<input type="email" name="email" ng-model="order.customer.email" placeholder="Email" required />
	<span class="validationError" ng-messages="orderForm.email.$error"><ng-messages-include src="errorMessages"></ng-messages-include></span>

	<textarea name="address" ng-model="order.customer.address" placeholder="Address"  multiline-required></textarea>
	<span class="validationError" ng-messages="orderForm.address.$error"><ng-messages-include src="errorMessages"></ng-messages-include></span>

	<div class="notification {{message.type}}" ng-if="message">
		{{message.text}}
	</div>

	<button type="submit">Confirm order</button>
	<a href="#/" class="btn">Back to shopping</a>

	<script type="text/ng-template" id="errorMessages">
		<span ng-message when="required">This field is required.</span>
		<span ng-message when="email">This doesn't look like an email address.</span>
		<span ng-message when="multilineRequired">Address too short.</span>
	</script>
</form>
