<table class="products">
	<tr ng-repeat-start="product in products" double-click="showDetails(product.id)">
		<td>
			<span class="title">{{ product.title }}</span>
		</td>
		<td class="info">
			<div class="price">{{ product.price | currency }}</div>
			<div class="quantity">in stock: {{ product.quantity }} <div quantity-indicator value="{{product.quantity}}" max-value="100"></div></div>
			<div><button class="showDetails" ng-hide="visibleDetails[product.id]" ng-click="showDetails(product.id)">Show details</button></div>
		</td>
	</tr>
	<tr ng-repeat-end ng-show="visibleDetails[product.id]">
		<td colspan="2" class="productDetails">
			<div ng-include="'/views/productDetails.html'"></div>

			<button ng-click="addToCart(product)">Add to cart</button>
			<button ng-click="hideDetails(product.id)">Hide details</button>
		</td>
	</tr>
</table>

