<input type="search" placeholder="search products..." ng-model="searchTerm" />
<table class="products">
	<tr ng-repeat-start="product in products | filter:{ title: searchTerm }" double-click="showDetails(product.id)">
		<td>
			{{ product.title }}
		</td>
		<td>
			<div>{{ product.price | currency }}</div>
			<div>
				in stock: {{ product.quantity }}
				<quantity-indicator value="product.quantity" max-value="100"></quantity-indicator>
			</div>
			<div>
				<button ng-hide="isVisible(product.id)" ng-click="showDetails(product.id)">Show details</button>
				<button ng-show="isVisible(product.id)" ng-click="hideDetails(product.id)">Hide details</button>
				<button ng-click="addToCart(product)">Add to cart</button>
			</div>
		</td>
	</tr>
	<tr ng-repeat-end ng-show="isVisible(product.id)">
		<td colspan="2">
			<div ng-include="'/views/productDetails.html'"></div>
			<button ng-click="addToCart(product)">Add to cart</button>
		</td>
	</tr>
</table>
