body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.page {
	width: 960px;
	margin: 0 auto;
}

.productList {
	display: block;
}

.productList li {
	display: block;
	border: 1px solid #ccc;
	border-style: solid none none none;
	padding: 10px 0;
}

.productList li:last-child {
	border-bottom-style: solid;
}

.productList .title {
	display: block;
	font-size: 125%;
	font-weight: bold;
}

.productList .description {
	display: block;
	border-bottom: 1px #eee dashed;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.productList .showDetails {
	float: right;
}

.productList .price {
	display: inline-block;
	padding-right: 15px;
	margin-right: 15px;
	border-right: 1px #eee dotted;
	font-size: 110%;
	font-weight: bold;
}

.productList .productDetails {
	border-top: 1px #eee dashed;
	margin-top: 5px;
	padding: 5px 0;
}

.quantityIndicator
{
	width: 100px;
	height: 10px;
	border: 1px solid #000;
	display: inline-block;
}

.ratio
{
	height: 10px;
	background: #ff4500;
}